/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/dashboard/instructor/[username]/create-course/createcourse.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************/
.createcourse_list__pOHt2 {
  
    display: grid;
  
    grid-auto-rows: auto;
  
    grid-template-columns: repeat(3, minmax(0, 1fr))
}
  
@media (min-width: 1024px) {
  
    .createcourse_list__pOHt2 {
  
        grid-template-columns: repeat(12, minmax(0, 1fr))
    }
}
  
  .createcourse_list__pOHt2 div:nth-child(1) {
  
    grid-column: span 1 / span 1
}
  
  @media (min-width: 1024px) {
  
    .createcourse_list__pOHt2 div:nth-child(2) {
  
        grid-column: span 3 / span 3
    }
}
  
  .createcourse_list__pOHt2 div:nth-child(3) {
  
    display: none
}
  
  @media (min-width: 1024px) {
  
    .createcourse_list__pOHt2 div:nth-child(3) {
  
        grid-column: span 3 / span 3;
  
        display: block
    }
  
    .createcourse_list__pOHt2 div:nth-child(4) {
  
        grid-column: span 1 / span 1
    }
}
  
  .createcourse_list__pOHt2 div:nth-child(5) {
  
    display: none
}
  
  @media (min-width: 1024px) {
  
    .createcourse_list__pOHt2 div:nth-child(5) {
  
        grid-column: span 2 / span 2;
  
        display: block
    }
}
  
  .createcourse_list__pOHt2 div:nth-child(6) {
  
    display: none
}
  
  @media (min-width: 1024px) {
  
    .createcourse_list__pOHt2 div:nth-child(6) {
  
        grid-column: span 2 / span 2;
  
        display: block
    }
}
  
  .createcourse_header__Zkjm_ div {
  
    padding-top: 0.5rem;
  
    padding-bottom: 0.5rem;
  
    --tw-text-opacity: 1;
  
    color: rgb(107 114 128 / var(--tw-text-opacity))
}
  
  .createcourse_content__9yZ_r div {
  
    display: flex;
  
    height: 90px;
  
    align-items: center;
  
    border-bottom-width: 1px;
  
    --tw-border-opacity: 1;
  
    border-color: rgb(75 85 99 / var(--tw-border-opacity))
}

  .createcourse_hidden2__8TsvM {
  
    display: none
}

  @media (min-width: 1024px) {
  
    .createcourse_hidden2__8TsvM {
  
        display: block
    }
}
