@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-200;
}

body {
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  color: white;
  font-family: "Saira", sans-serif;
}

.saira {
  font-family: var(--font-Saira);
}

.rowdies {
  font-family: var(--font-rowdies);
}

@media (max-width: 640px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  html {
    font-size: 15px; 
  }
}

@media (min-width: 1025px) {
  html {
    font-size: 16px; 
  }
}
